body{
    font-family: "Gilroy";
    background-image: url("../img/BG.jpg");
    background-color: #0b1d26;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
    .menu-open &{
        overflow: hidden;
    }
}
[class*="__container"]{
    max-width: $containerWidth + $mainOffset*2;
    padding: 0 $mainOffset;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
