body{
    font-family: "Gilroy";
    background-image: url("../img/BG.jpg");
    background-color: #0b1d26;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}
.container{
    max-width: 1760px;
    margin: 0 auto;
}
.wrapper{
    padding-bottom: 50px;
}
