.footer {
    padding-bottom: 50px;
    // .footer__container
    &__container {
        display: flex;
        @media(max-width:810px){
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-content: center;
        }
    }
    // .footer__info
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 19px;
        @media(max-width:810px){
            padding: 0;
        }
    }
    // .footer__logo
    &__logo {}
    // .footer__text
    &__text {
        font-weight: 700;
        line-height: prc(32,18);
    }
    // .footer__copy-right
    &__copy-right {
        line-height: prc(32,18);
        opacity: 0.5;
    }
    // .footer__nav
    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        column-gap: 212px;
        row-gap: 30px;
        @media(max-width:1176px){
            column-gap: 100px;
        }
        @media(max-width:866px){
            column-gap: 50px;
        }
        @media(max-width:810px){
            margin-left: 0px;
            padding-bottom: 25px;
        }
        
    }
}
.footer-nav {
    // .footer-nav__column
    &__column {
    }
    // .footer-nav__title
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: prc(32,24);
        color: #FBD784;
        margin-bottom: 24px;
    }
    // .footer-nav__list
    &__list {}
    // .footer-nav__item
    &__item {
        margin-bottom: 16px;
        &:last-child{
            margin: 0;
        }
    }
    // .footer-nav__link
    &__link {
        color: #FFFFFF;
        line-height: prc(32,18);
        transition: $defaultTrans;
        &:hover{
            color: #FBD784;
        }
    }
}
