.header {
    width: 100%;

    // .header__container
    &__container {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        align-items: center;
    }
    // .header__logo
    &__logo {
        max-width: 100%;
    }
    // .header__menu
    &__menu {
        margin: 0 auto;
    }
    // .header__account-btn
    &__account-btn {
        display: flex;
        align-items: center;
        column-gap: 2px;
        background-color: transparent;
        &:hover{
            .header__account-icon{
                svg{
                    path{
                        fill:#FBD784;
                    }
                }
            }
            .header__account-text{
                color: #FBD784;
            }
        }
        &:focus{
            .header__account-icon{
                svg{
                    path{
                        fill:darken(#FBD784, 10%);
                    }
                }
            }
            .header__account-text{
                color: darken(#FBD784, 10%);
            }
        }
				@media(max-width:544px){
					margin-left: auto;
				}      
    }
    
    // .header__account-icon
    &__account-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 24px;
        height: 24px;
        svg{
            path{
                transition: $defaultTrans;
            }
        }
    }
    // .header__account-text
    &__account-text {
        color: #fff;
        transition: $defaultTrans;
    }
}
.menu {
    display: flex;
    align-items: center;
    @media(max-width:544px){
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,90%);
				transition: $defaultTrans;
				opacity: 0;
				.menu-open & {
					top: 0;
					opacity: 1;
				}
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        column-gap: 40px;
        @media(max-width:630px){
            column-gap: 12px;
        }
        @media(max-width:544px){
            flex-direction: column;
            row-gap: 15px;
            margin: 0 auto;
        }
    }
    // .menu__item
    &__item {}
    // .menu__link
    &__link {
        font-weight: 700;
        // line-height: 22px;
        line-height: prc(18,22);
        color: #fff;
        transition: $defaultTrans;
        &:hover{
            color: #FBD784;
        }
        &:focus{
            color: darken(#FBD784,10%);
        }
    }
}
.icon-menu {
    display: none;
		background-color: transparent;
		margin-left: 20px;
    @media(max-width:544px){
        display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
    	content: "";
			transition: $defaultTrans;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
    }
}  


